<footer class="footer bg-light">
    <div class="container">
      <p class="mb-2 text-muted">© {{ year }} Thomas Diaconu. All rights reserved.</p>
      <div class="social-icons">
        <a href="mailto:thomas.diaconu94@gmail.com" aria-label="Email" class="me-3">
          <i class="fas fa-envelope fa-lg"></i>
        </a>
        <a [href]="socialLinks.github" target="_blank" aria-label="GitHub" class="me-3">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a [href]="socialLinks.linkedin" target="_blank" aria-label="LinkedIn" class="me-3">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <!-- <a [href]="socialLinks.twitter" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter fa-lg"></i>
        </a> -->
      </div>
    </div>
  </footer>
  