/* Footer Styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
    background-color: #f8f9fa; /* Couleur de fond */
    border-top: 1px solid #e9ecef; /* Ligne de séparation */
    font-family: "Georgia", serif;
    font-size: 0.9rem;
    padding: 10px 0; /* Ajoute de l'espace interne pour afficher le contenu */
    height: auto; /* Permet au footer de s'ajuster à la taille de son contenu */
    text-align: center; /* Centrer le contenu */
  }
  
  .footer p {
    margin-bottom: 0.5rem;
  }
  
  .social-icons a {
    color: #6c757d; /* Couleur par défaut */
    transition: color 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Couleur au survol */
  }
  