<div class="container my-5">
    <h1 class="text-center mb-4">{{this.translationService.translate("PROJECTS_TITLE")}}</h1>
  
    <div class="project" *ngFor="let project of this.translationService.projects">
      <div class="project-header d-flex align-items-center mb-3">
        <div class="project-icon me-3">
          <i class="fas fa-project-diagram fa-2x text-primary"></i>
        </div>
        <h2 class="h5 mb-0">{{ project.name }}</h2>
      </div>
      <p class="project-description mb-2" [innerHTML]="project.description">
      </p>
      <div class="project-links d-flex">
        <a *ngIf="project.github" [href]="project.github" target="_blank" class="btn btn-outline-primary btn-sm me-2">
          <i class="fab fa-github me-1"></i> GitHub
        </a>
        <a *ngIf="project.demo" [href]="project.demo" target="_blank" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-external-link-alt me-1"></i> Live Demo
        </a>
        <a *ngIf="project.doc" [href]="project.doc" target="_blank" class="btn btn-outline-secondary btn-sm">
            <i class="fa-solid fa-file"></i> {{ this.translationService.translate("REPORT") }}
          </a>
      </div>
      <hr class="my-4">
    </div>
  </div>
  