<section class="my-5">
    <!-- <h2 class="h4 text-center mb-4">Contact</h2> -->
    <div class="container">
        <!-- Contact Info Section -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <h3 class="h5">{{this.translationService.translate("GET_IN_TOUCH")}}</h3>
                <p>{{this.translationService.translate("GET_IN_TOUCH_DESC")}}</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope text-primary me-2"></i><a href="mailto:thomas.diaconu94@gmail.com" class="text-decoration-none">thomas.diaconu94&#64;gmail.com</a></li>
                </ul>
            </div>

            <!-- Contact Form Section -->
            <div class="col-md-6 mb-4">
                <h3 class="h5">{{this.translationService.translate("SEND_MESSAGE")}}</h3>
                <form action="mailto:thomas.diaconu94@gmail.com" method="post" enctype="text/plain">
                    <div class="mb-3">
                        <label for="name" class="form-label">{{this.translationService.translate("FULL_NAME")}}</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">{{this.translationService.translate("EMAIL")}}</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">{{this.translationService.translate("SEND")}}</button>
                </form>                
            </div>
        </div>
    </div>
</section>
