<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4" id="navbarExpanded" style="height: 100%;">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="navigate('/')">
          <a class="nav-link text-white">{{ translationService.translate('HOME') }}</a>
        </li>
        <li class="nav-item" (click)="navigate('/resume')">
          <a class="nav-link text-white">{{ translationService.translate('RESUME') }}</a>
        </li>
        <li class="nav-item" (click)="navigate('/skills')">
            <a class="nav-link text-white">{{ translationService.translate('SKILLS') }}</a>
          </li>
        <li class="nav-item" (click)="navigate('/projects')">
          <a class="nav-link text-white">{{ translationService.translate('PROJECTS') }}</a>
        </li>
        <li class="nav-item" (click)="navigate('/courses')">
            <a class="nav-link text-white">{{ translationService.translate('COURSES') }}</a>
          </li>
        <li class="nav-item" (click)="navigate('/contact')">
          <a class="nav-link text-white">{{ translationService.translate('CONTACT') }}</a>
        </li>
      </ul>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" style="display: table-row;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span (click)="goMenu()" style="cursor: pointer;">
        Thomas Diaconu
      </span>
      <div style="float: right;">
        <img class="country-flag" style="margin-right: 10px;" src="assets/images/fr.svg" alt="" (click)="changeLanguage('fr')">
        <img class="country-flag" src="assets/images/gb.svg" alt="" (click)="changeLanguage('en')">
      </div>
      <!-- <button (click)="changeLanguage('fr')" style="padding: 10px 20px; font-size: 16px; margin: 10px; cursor: pointer;">Français</button>
      <button (click)="changeLanguage('en')" style="padding: 10px 20px; font-size: 16px; margin: 10px; cursor: pointer;">English</button> -->
    </div>
  </nav>