<div class="container my-5">
    <!-- Header -->
    <div class="text-center mb-4">
      <h1 class="display-4">{{ this.translationService.translate("RESUME")}}</h1>
      <p class="text-muted">
        <span>{{ this.translationService.translate("RESUME_DESC")}}</span>
        <a href="assets/docs/resume.pdf" class="btn btn-link text-primary" download>
          <i class="fas fa-download fa"></i>
      </a>
      </p>
    </div>
  
    <!-- Experience Section -->
    <section class="mb-5">
        <h2 class="h4">{{ this.translationService.translate("PROFESSIONAL_EXP")}}</h2>


        <div class="border-top pt-3">

          <!-- IMPLEMENT NG FOR LOOP ON EXPERIENCES -->
          <div class="mb-4" *ngFor="let exp of this.translationService.experiences">
            <h3 class="h5">{{ exp.jobTitle }}, {{ exp.company }} <span *ngIf="exp.companyLogo"><i class={{exp.companyLogo}}></i></span></h3>
            <p class="text-muted">{{ exp.date }}</p>
            <div [innerHTML]="exp.description"></div>
          </div>
        </div>
      </section>
      
  
    <!-- Education Section -->
    <section class="mb-5">
      <h2 class="h4">{{ this.translationService.translate("EDUCATION") }} </h2>
      <div class="border-top pt-3">
        
        <div class="mb-4" *ngFor="let ed of this.translationService.education">
          <h3 class="h5">{{ed.title}}</h3>
          <p class="text-muted">{{ed.school}}, {{ed.years}}</p>
          <p>{{ed.description}}</p>
        </div>
      </div>
    </section>
  
<!-- Skills Section -->


    
      
  </div>
  