/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Computer Modern Sans", sans-serif !important;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* Mettre un peu plus de poids pour les titres */
}

p {
    font-weight: 400; /* Normal pour les paragraphes */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ajustement des tailles de titres */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
}

/* Taille des paragraphes */
p {
    font-size: 1rem;  /* 16px par défaut */
}