<div class="container my-5">
    <div class="row justify-content-center align-items-center">
      <!-- Sidebar Block -->
      <div class="col-md-3" id="sidebar">
        <div class="container" id="imgContainer">
          <img
          src="assets/images/7913.jpg"
          class="rounded-circle mb-3 img-fluid"
        />
        </div>
        <h5>
          Thomas Diaconu
        </h5>
        <p>{{ translationService.translate('JOB') }}</p>
        <div>
            <i class="fa-solid fa-map-pin"></i> Paris
        </div>
      </div>
  
      <!-- Introduction Block -->
      <div class="col-md-9">
        <h2 class="fw-bold">{{ translationService.translate('WELCOME') }}</h2>
        <p class="lead" style="white-space: pre-line;" [innerHTML]="translationService.translate('introduction')">
        </p>
      </div>
    </div>
  </div>
  